// about page
section.about {
	.content {
		margin: 0 auto;
		h1 {
			margin: 0;
			margin-bottom: 30px;
		}
		div {
			p {
				font-family: $heading_font;
				font-weight: 500;
				line-height: 1.3em;
				font-size: 22px;
				margin: 0;
				text-align: justify;
			}			
		}
	}
}