// General Styles
html, body {
	margin: 0;
	padding: 0;
}
body.page-template-home {
	overflow: hidden;
	background-color: $black;
}
* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5,h6 {
	font-family: $heading_font;
	color: $white;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
}
h1 {
	font-size: 50px;
	letter-spacing: 9px;
}
div,p,a,span,input,textarea {
	font-family: $body_font;
	color: $white;
}
.sub-title {
	font-family: $heading_font;
	text-transform: uppercase;
}
.main-btn {
	text-transform: uppercase;
	color: $white;
	text-decoration: none;
	padding: 12px 26px 12px 30px;
	font-size: 7px;
	letter-spacing: 4px;
	font-weight: 200;
	position: relative;
	overflow: hidden;
	font-weight: 500;
	cursor: pointer;
	z-index: 9;
	@include max-content(width);
	span {
		z-index: 999999;
		position: relative;
	}
}
.main-btn:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $dark_grey;
	z-index: 99;
	@include translate(0,-100%,0);
	@include easeout(600ms);
}
.main-btn:hover:after {
	@include translate(0,-2px,0);
}
.main-btn.orange {
	background-color: $orange;
}
.main-btn.orange:after {
	
}
.main-btn.blue {
	background-color: $dark_grey;
}
.main-btn.blue:after {
	background-color: $orange;
}
input:not([type="submit"]):focus,textarea:focus {
	outline-color: $orange;
}
*::selection {
	background: $white;
	color: $black;
}
*::-moz-selection {
	background: $white;
	color: $black;
}