// General Styles
html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
.index-image {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 10px;
	height: auto;
}
body.page-template {
	overflow: hidden;
	background-color: $black;
	
	#page {
		height: 100vh;
		width: 100vw;
		@include flexbox(center,center);
		
		#content {
			@include calc(height,"100% - "$side_padding);
			border: 2px solid $white;
		}
	}
}
body.page-template-home {
	#page {
		#content {
			width: 100vw;
			border:none;
		}
	}

}
body.single {
	#page {
		#content {
			$body_margin : 0.5 * $side_padding;
			margin: $body_margin auto;
			padding: $body_margin 0;
			
			ul.menu {
				background-color: $white;
				li {
					a {
						color: $black;
					}
					a:after {
						background-color: $black;
					}
				}
			}
			* {
				color: $black;
			}
		}
	}
}
#content {
	@include calc(width,"100% - "$side_padding);
	@include flexbox(center,center);
	position: relative;
	border: 2px solid $black;
	margin: 0 auto;
	
	ul.menu {
		position: absolute;
		@include flexbox(center,space-between);
		list-style: none;
		margin: 0;
		padding: 0 12px;
		background-color: $black;
		li {
			padding: 0 12px;
			a{
				font-family: $heading_font;
				text-transform: uppercase;
				position: relative;
				font-size: 10px;
				letter-spacing: 8px;
				font-weight: 800;	
				text-decoration: none;
				padding-left: 8px;
			}
			a:after {
				content: '';
				background-image: none;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				height: 1px;
				width: 95%;
				background-color: $white;
				@include scaleX(0);
				@include easeout(400ms);
				z-index: 99;
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
			}
		}
		a:hover:after, li.current-menu-item a:after {
			@include scaleX(1);
		}
		
	}
	#menu-footer-menu {
		bottom: 0;
		left: 0;
		margin-left: 20px;
		@include translate(0,50%,0);
	}
	#menu-main-menu {
		top: 0;
		right: 0;
		margin-right: 20px;
		@include translate(0,-57%,0);
	}
}

section.main-body.fixed {
		
	
	.container {
		
		
		.content {
			max-width: 100%;
			max-height: 100%;
			margin: 0 auto;
		}
	}
}
section {
	.content.sm {
		@include calc(width, "100% - " $side_padding);
		margin: 0 auto;
		max-width: 730px;
	}
}
* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5,h6,a {
	font-family: $heading_font;
	color: $white;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
	word-wrap: break-word;
}
h1 {
	font-size: 50px;
	letter-spacing: 9px;
}
div,p,span,input,textarea {
	font-family: $body_font;
	color: $white;
}
.sub-title {
	font-family: $heading_font;
	text-transform: uppercase;
}
a {
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 800;
	text-decoration: none;
	letter-spacing: 1px;
	position: relative;
}
a.next:after, a.previous:after, .scroll-hint:before {
	content: '';
	background-size: contain;
	height: 8px;
	width: 15px;
	position: absolute;
	top: 1px;
	bottom: 0;
	margin: auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../images/arrow_white.png');
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
a.light:after, .scroll-hint:before {
	background-image: url('../images/arrow.png');
}
a.next:after {
	right: -20px;
	@include rotate(180deg);
}
a.previous:after{
	left: -20px;
}
.scroll-hint:before {
	left: -11px;
	height: 7px;
	width: 7px;
}
.scroll-hint {
	position: absolute;
	font-family: $heading_font;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 800;
	letter-spacing: 1px;
	bottom: 0;
    left: 0;
    @include rotate(-90deg);
    transform-origin: left;
    margin-bottom: 6px;
    display: none;
}
.main-btn {
	text-transform: uppercase;
	color: $white;
	text-decoration: none;
	padding: 12px 26px 12px 30px;
	font-size: 7px;
	letter-spacing: 4px;
	font-weight: 200;
	position: relative;
	overflow: hidden;
	font-weight: 500;
	cursor: pointer;
	z-index: 9;
	@include max-content(width);
	span {
		z-index: 999999;
		position: relative;
	}
}
.main-btn:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $dark_grey;
	z-index: 99;
	@include translate(0,-100%,0);
	@include easeout(600ms);
}
.main-btn:hover:after {
	@include translate(0,-2px,0);
}
.main-btn.orange {
	background-color: $orange;
}
.main-btn.orange:after {
	
}
.main-btn.blue {
	background-color: $dark_grey;
}
.main-btn.blue:after {
	background-color: $orange;
}
input:not([type="submit"]):focus,textarea:focus {
	outline-color: $orange;
}
*::selection {
	background: $white;
	color: $black;
}
*::-moz-selection {
	background: $white;
	color: $black;
}
.mobile-menu-trigger {
	font-family: $heading_font;
    text-transform: uppercase;
    position: relative;
    font-size: 10px;
    letter-spacing: 8px;
    font-weight: 800;
    text-decoration: none;
    padding: 0 20px 0 28px;
    position: absolute;
    background-color: $white;

    visibility: hidden;
}
.mobile-menu-trigger.header {
    top: 0;
    right: 0;
    @include translate(0,-60%,0);
    margin-right: 20px;
}
.mobile-menu-trigger.footer {
	bottom: 0;
	left: 0;
    @include translate(0,60%,0);
    margin-left: 20px;
}
.mobile-menu-trigger.close {
	z-index: 99999;
	color: $white !important;
	font-size: 40px;
	background-color: transparent;
	@include translate(0,0,0);
	margin: -10px -9px 0 0;
	padding: 0;
	visibility: hidden;
	top: 30px;
	right: 30px;
	position: fixed;
}

.mobile-menu-trigger.close.open {
	visibility: visible !important;
}