section.home-container {
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	@include flexbox(center, flex-end);
	
	.page-content {
		padding-right: $side_padding;
		border-right: 6px solid $white;
		padding-top: 20px;
		padding-bottom: 14px;
		
		* {
			text-align: right;
		}
		
		h1 {
			margin-bottom: 20px;
			margin-top: 0;
		}
		p {
			letter-spacing: 15px;
			font-weight: 600;
			margin: 0;
			font-size: 21px;
			padding-right: 2px;
		}
	}
}