body.page-template-home{
	.mobile-menu-trigger.footer {
		display: none;
	}
}
section.home-container {
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	@include flexbox(center, flex-end);
	
	.page-content {
		
		border-right: 6px solid $white;
		padding-top: 20px;
		padding-bottom: 14px;
		
		* {
			text-align: right;
			@include translate(-20px,0,0);
		}
		
		h1 {
			margin-bottom: 20px;
			margin-top: 0;
			
		}
		p {
			letter-spacing: 15px;
			font-weight: 600;
			margin: 0;
			font-size: 21px;
			padding-right: 2px;
		}
		div.creative-titles {
			position: relative;
			
			p {
				opacity: 0;
				transition: 1.5s all ease-in-out;
				@include translate(0px,0,0);
			}
				
			
			p:not(:first-child){
				position: absolute;
				top: 0;
				right: 0;
			}
			p.visible {
				opacity: 1;
			}
		}
	}
}