body.page-template-home{
	.mobile-menu-trigger.footer {
		display: none;
	}
	#menu-main-menu {
		li {
			@include translate(0,-10px,0);
			@include easeout(1500ms);
			opacity: 0;
		}
		li.set {
			@include translate(0,0,0);
			opacity: 1;
		}
		@for $ii from 1 through 3 {
			$delay: $ii * 100ms;
			li:nth-child(#{$ii}){
				transition-delay: $delay; 
			}
		}
	}
}
section.home-container {
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	@include flexbox(center, flex-end);
	
	.page-content {
		
		border-right: 6px solid $white;
		padding-top: 20px;
		padding-bottom: 14px;
		@include scaleY(1);
		@include easeout(1500ms);
		* {
			text-align: right;
		}
		h1 {
			margin-bottom: 20px;
			margin-top: 0;
			opacity: 1;
			@include easeout(2000ms);
			transition-delay: 800ms;
			@include translate(0,0,0);
		}
		p {
			letter-spacing: 15px;
			font-weight: 600;
			margin: 0;
			font-size: 21px;
			padding-right: 2px;
			opacity: 1;
		}
		div.creative-titles {
			position: relative;
			@include easeout(2000ms);
			transition-delay: 600ms;
			@include translate(0,0,0);
			transition-delay: 1200ms;
			opacity: 1;
			
			p {
				opacity: 0;
				transition: 1.5s all ease-in-out;
				@include translate(0px,0,0);
			}
				
			
			p:not(:first-child){
				position: absolute;
				top: 0;
				right: 0;
			}
			p.visible {
				opacity: 1;
			}
		}
		div.content-wrapper {
			padding-right: 20px;
		}
	}
	// Animations on Load
	.page-content.pre {
		@include scaleY(0);
			h1.pre, .creative-titles.pre {
				@include translate(15px,0,0);
				opacity: 0;
			}
	}
}