.projects {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		@include flexbox(center,center);	
	.container {
		@include calc(height, "100% -" $side_padding);
		@include calc(width, "100% -" $side_padding);
		@include flexbox(center,center);
		
		position: relative;
		margin: auto;
		.content.projects-container {
			height: 100%;
			width: 100%;
			.project-wrapper {
				height: 100%;
				width: 100%;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				@include flexbox(center,center);
				position: relative;
				.project-content {
/*
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					@include max-content(height);
					@include max-content(width);
*/
					max-width: 80%;
					z-index: 9;
					margin-top: 18px;
					
					h1 {
						font-size: 40px;
						letter-spacing: 7px;
						padding-left: 7px;
						text-align: center;
						margin: 0;
					}
					p.sub-title {
						text-align: center;
						padding-left: 4px;
						span {
							font-family: $heading_font;
							font-size: 13px;
							letter-spacing: 4px;
							padding-left: 4px;
							text-align: center;
							font-weight: 600;
							padding: 0 8px;
						}
					}
				}
				a.view-project {
					position: absolute;
					bottom: 15px;
					right: 60px;
					z-index: 9;
					opacity: 0;
					@include easeout(700ms);
				}
			}
			.project-wrapper:before {
				content: '';
				height: 100%;
				width: 100%;
				background-color: rgba(0,0,0,0.6);
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}
			.project-wrapper:hover {
				a {
					opacity: 1;
				}
			}
			.project-wrapper:not(.active){
				visibility: hidden;
				opacity: 0;
			}
			.project-wrapper.light {
				a, h1, span {
					color: $black;
				}
			}
			.project-wrapper.light:before {
				background-color: rgba(255,255,255,0.15);
			}
		}
	}
	.project-bubble-nav {
		@include flexbox(center, flex-start);
		padding: 5px 50px;
		background-color: $black;
		z-index: 9;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		@include max-content(width);
		@include translate(0,50%,0);
		
		.bubble {
			height: 10px;
			width: 10px;
			border-radius: 10px;
			background-color: rgba(255,255,255,0.47);
			@include easeout(600ms);
			margin: 0 6px;
			@include flexbox(center,center);
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			.inner-bubble {
				background-color: $black;
				height: 6px;
				width: 6px;
				border-radius: 3px;
				
			}
		}
		.bubble.active {
			opacity: 0.85;
			background-color: $white;
			.inner-bubble {
				background-color: $white;
			}
		}
	}

	.project-nav {
		background-image: url('../images/nav-arrow.png');
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: $black;
		height: 110px;
		width: 20px;
		background-size: 15px auto;
		background-repeat: no-repeat;
		background-position: center center;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}
	.project-nav.next {
		right: -12px;
		@include rotate(180deg);
	}
	.project-nav.previous {
		left: -12px;
	}
}