// Variables
$half_side_pad : 0.5 * $side_padding;
$quarter_side_pad : 0.25 * $side_padding;

@media (max-width:900px){
	// Single Page
	body.single {
		section.main-body {
			article.project-study {
				.project-section {
					margin: $half_side_pad auto;
				}
				.contained {
					@include calc(width, "100% - " $side_padding);
				}
				.project-cat {
					.project-copy {
						padding: 0 $half_side_pad;
					}
				}
				.project-file-container {
					.project-wrapper.contained {
						padding: $half_side_pad 0;
					}
				}
			}
		}
	}
}

@media (max-width:680px){
	// Single Page
	body.single {
		#page {
			#content {
				@include calc(width, "100% -" $half_side_pad);
				margin: $quarter_side_pad auto;
				section.main-body {
					article.project-study {
						.project-heading {
							height: 85vh;
							margin: 0 auto !important;
							.heading-container {
								margin-bottom: 17vh;
								
								a {
									position: absolute;
									top: 0;
									left: 0;
									font-size: 9px;
									margin-left: 11px;
								}
								a:after {
									height: 7px;
									width: 7px;
									left: -11px;
									top: -1px;
								}
							}
						}
						.project-section {
							h1 {
								word-spacing: 680px;
								font-size: 48px;
								line-height: 40px;
								margin-left: -3.5px; // need to fix all heading spacing now
							}
							.sub-title {
								span {
									font-size: 12px;
									display: block;
								}
								span.cat-divider {
									display: none;
								}
							}
							.project-copy {
								font-size: 15px;
							}
						}
					}
				}
			}
		}
	}	
}
@media (max-width: 500px){
	// Single Page
	body.single {
		#page {
			#content {
				section.main-body {
					article.project-study {
						.project-section {
							margin: $quarter_side_pad auto;
						}
						.contained {
							@include calc(width, "100% - " $half_side_pad);
						}
						.project-cat {
							.project-copy {
								padding: 0 $quarter_side_pad;
							}
						}
						.project-file-container {
							.project-wrapper.contained {
								padding: $quarter_side_pad 0;
							}
						}
					}
				}
			}
		}
	}	
}