/*************************************
  - - - - - - - VARIABLES - - - - - - -
**************************************/
@import 'partials/variables';
@import 'partials/general';
/*************************************
  - - - - - - - MODULES - - - - - - - -
**************************************/

/*************************************
  - - - - - - - PAGES - - - - - - - -
**************************************/
@import 'partials/home';
@import 'partials/projects';
@import 'partials/about';
@import 'partials/contact';
@import 'partials/single';
/*************************************
  - - - - - - - RESPOND - - - - - - - -
**************************************/
@import 'partials/transitions';
@import 'partials/responsive';