/*************************************
  - - - - - - - VARIABLES - - - - - - -
**************************************/
/*************************************
  - - - - - - - FONT FACES - - - - - - 
**************************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url(../fonts/stylesheet.css);
/*************************************
  - - - - - - COLOR PALETTE - - - - - 
**************************************/
/*************************************
  - - - - - - MISC VARIALBES - - - - - 
**************************************/
/*************************************
  - - - - - - - - MIXINS - - - - - - - 
**************************************/
html, body {
  margin: 0;
  padding: 0; }

body.page-template-home {
  overflow: hidden;
  background-color: #12171a; }

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Maven Pro", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px; }

h1 {
  font-size: 50px;
  letter-spacing: 9px; }

div, p, a, span, input, textarea {
  font-family: "Georgia", serif;
  color: #fff; }

.sub-title {
  font-family: "Maven Pro", sans-serif;
  text-transform: uppercase; }

.main-btn {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 12px 26px 12px 30px;
  font-size: 7px;
  letter-spacing: 4px;
  font-weight: 200;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  cursor: pointer;
  z-index: 9;
  width: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: -moz-fit-content; }
  .main-btn span {
    z-index: 999999;
    position: relative; }

.main-btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222629;
  z-index: 99;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  -moz-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  -o-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  /* custom */ }

.main-btn:hover:after {
  -webkit-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
  -ms-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0); }

.main-btn.orange {
  background-color: #CA5D44; }

.main-btn.blue {
  background-color: #222629; }

.main-btn.blue:after {
  background-color: #CA5D44; }

input:not([type="submit"]):focus, textarea:focus {
  outline-color: #CA5D44; }

*::selection {
  background: #fff;
  color: #12171a; }

*::-moz-selection {
  background: #fff;
  color: #12171a; }

/*************************************
  - - - - - - - MODULES - - - - - - - -
**************************************/
/*************************************
  - - - - - - - PAGES - - - - - - - -
**************************************/
section.home-container {
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-end;
  -webkit-justify-content: flex-end; }
  section.home-container .page-content {
    padding-right: 100px;
    border-right: 6px solid #fff;
    padding-top: 20px;
    padding-bottom: 14px; }
    section.home-container .page-content * {
      text-align: right; }
    section.home-container .page-content h1 {
      margin-bottom: 20px;
      margin-top: 0; }
    section.home-container .page-content p {
      letter-spacing: 15px;
      font-weight: 600;
      margin: 0;
      font-size: 21px;
      padding-right: 2px; }

/*************************************
  - - - - - - - RESPOND - - - - - - - -
**************************************/
